@using HITScheduleMasterPlus.Models
<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="@Settings.CurrentSetting.Theme.GetThemeCss()" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="lib/fas/css/all.min.css" />
</head>
<body>
@*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HITScheduleMasterPlus</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
<div class="container" style="-webkit-user-select: none">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@*<footer class="border-top footer text-muted" style="-webkit-user-select: none">
    <div class="container">
        课表大师 &copy; 2020 - HCGStudio 基于Electron.Net以及ASP .Net Core构建。
    </div>
</footer>*@
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script>window.$ = window.jQuery = require('~/lib/jquery/jquery.js');</script>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>